*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.BotonAgregar {
    background-color: #55A630;
}

footer {
    margin-top: auto;
    
}
